.Loading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 15%;
}

.Loading_Text{
    font-size: 20px;
    margin-right: 10px;
}

.Loading_Glasses_Container{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.Loading_Glasses{
    border: 10px solid var(--green_main);
    border-left-color: transparent;
    border-right-color: transparent;
    animation:spin 2s linear infinite;
}

@keyframes spin { 
    50% 
    { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}